<!-- <body class="home"> -->

<header><img class="logo" src="/images/logo2.png"></header>

<div id="slideshow">
	     <img src="/images/boy.jpg">
	     <img class="active" src="/images/girl.jpg">
	     <img src="/images/kids.jpg">
	     <img src="/images/mask.jpg">
	     <img src="/images/another_girl.jpg">
	     <img src="/images/the_wait.jpg">
</div>

	<form method="POST" action="/authors/login" class="login">
		<p class="welcome">WELCOME</p>
		<input type="text" name="email" placeholder="email"><br>
		<input type="password" name="password" placeholder="password">
		<br>
		<input type="submit" value="Log in">
	</form>

<!-- </body> -->