<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link href="<%= url('main.css') %>" rel="stylesheet" type="text/css" />
	<title></title>
</head>
<body>

	<% if current_user %>
		<%= "Welcome!" %>
		<form action="/authors/login" method="Post">
				<input type="hidden" name="method" value="Delete">
				<input type="submit" value="Log Out">
		</form>
	<% else %>
		<%= "You are not logged in" %>
	<% end %>

	<%= yield %> 

	<footer>
		<ul>
			<a href="/">Home</a>
			<a href="/articles">Articles</a>
			<a href="/categories">Categories</a>
			<a href="/authors">Authors</a>
		</ul>
	</footer>

	<script src="jquery-2.1.4.js"></script>
	<script type="text/javascript" src="main.js"></script>

</body>
</html>