@import url(http://fonts.googleapis.com/css?family=Ubuntu);
@import url(http://fonts.googleapis.com/css?family=Lato);

/*HOMEPAGE*/

footer {
	position: fixed;
	bottom: 0;
	left: 0; 
	width: 100%;
	background-color: #FFFFFF; 
	color: white;
	line-height: 2px; 
	text-align: center; 
	font-family: 'Ubuntu', sans-serif; 
	opacity: 0.7;
}

.login {
	background-color: #8A2E2E; 
	opacity: 0.6;
	position: absolute;
	top: 35%;
	left: 40%;
	height: 180px;
	width: 350px;
	padding: 10px;
	text-align: center; 
	z-index: 2;
}
.login input[type=text] {
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #ffffff;
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
}

.login input[type=password] {
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

.login input[type=submit] {
	width: 260px;
	height: 35px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #a18d6c;
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}

.login input[type=submit]:hover {
	opacity: 0.8;
}

.login input[type=submit]:active {
	opacity: 0.6;
}

.login input[type=text]:focus {
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=password]:focus {
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=submit]:focus {
	outline: none;
}

::-webkit-input-placeholder {
   color: rgba(255,255,255,0.6);
}

::-moz-input-placeholder{
   color: rgba(255,255,255,0.6);
}

.welcome {
	color: white;
	font-size: 15px; 
	font-family: 'Lato', sans-serif; 
}

#slideshow {
    position:relative;
    height:350px;
    z-index:-1;
}
 
#slideshow IMG {
    position:absolute;
    top:0;
    left:0;
    z-index:8;
    opacity:0.0;
}
 
#slideshow IMG.active {
    z-index:10;
    opacity:1.0;
}
 
#slideshow IMG.last-active {
    z-index:9;
}
 
#slideshow img {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
 
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
 
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
}
 
@media screen and (max-width: 1024px){
    img.bg {
    left: 50%;
    margin-left: -512px;
	}
}

header {
  position: absolute;
  background-color: #FFFFFF;
  color: black;
  top: 0;
  left: 0;
  width: 100%;
  line-height: 35px;
  opacity: 0.7; 
  text-align: center;
}

body {
	background-image: url(/images/background2.jpg);
	background-position: cover;  
}

/*ARTICLES*/
.archive_container {
	background-color: #D1D1E0; 
	opacity: 0.7;
	width: 60%; 
	height: 100%;
	margin-left: auto;
  margin-right: auto;
  font-family: 'Lato', sans-serif; 
}

a {
	color: black;
	font-family: 'Lato', sans-serif; 
}

h1 {
	text-align: center; 
	font-family: 'Lato', sans-serif; 
}

dd {
	text-align: center; 
	font-family: 'Lato', sans-serif; 
}

dt {
	text-align: center; 
	font-family: 'Lato', sans-serif; 
}

/*CATEGORIES*/

.board {
	width: 250px;
  height: 250px;
  margin: 0 auto;
  list-style-type: none;
}

.square {
	background-color: black; 
	opacity: 0.5; 
	width: 40%;
  height: 40%;
  border: 3px solid white;
  float: left;
  text-align: center;
  font-size: medium;
  font-family: 'Ubuntu', sans-serif;
  color: white;
  cursor: crosshair;
}

.category_form {
	background-color: #8A2E2E; 
	color: white;
	opacity: 0.6;
	width: 13%;
  height: 13%;
  border: 3px solid white;
  margin-right: auto; 
  margin-left: auto; 
  margin-top: 170px; 
	padding: 10px;
	text-align: center; 
	z-index: 2;
}

.category_form input[type=submit] {
	width: 70px;
	height: 35px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #a18d6c;
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}

.categories {
	background-image: url(images/background.jpg);
	background-position: cover; 
}

/*AUTHORS*/

.authors_container {
	background-color: #D1D1E0; 
	opacity: 0.7;
	width: 60%; 
	height: 100%;
	margin-left: auto;
  margin-right: auto;
  padding: 5px;
  text-align: center; 
}

ul {
	list-style-type: none;
	font-family: 'Lato', sans-serif; 
}

.new_author {
	background-color: #D1D1E0; 
	opacity: 0.6;
	margin-top: 10px;
	width: 60%; 
	height: 100%;
	margin-left: auto;
  margin-right: auto;
  padding: 5px;
	text-align: center; 
	z-index: 2;
}

.new_author input[type=text] {
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #ffffff;
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
}

.new_author input[type=password] {
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

.new_author input[type=submit] {
	width: 260px;
	height: 35px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #a18d6c;
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}

.new_author input[type=submit]:hover {
	opacity: 0.8;
}

.new_author input[type=submit]:active {
	opacity: 0.6;
}

.new_author input[type=text]:focus {
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.new_author input[type=password]:focus {
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.new_author input[type=submit]:focus {
	outline: none;
}

::-webkit-input-placeholder {
   color: rgba(255,255,255,0.6);
}

::-moz-input-placeholder{
   color: rgba(255,255,255,0.6);
}

/*NEW ARTICLE*/

.article_new {
	background-color: #D1D1E0; 
	opacity: 0.8;
	position: absolute;
	top: 100px;
	left: 200px;
	height: 70%;
	width: 60%;
	padding: 10px;
	text-align: center; 
	z-index: 2;
}

.article_new input[type=text] {
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #ffffff;
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
}

.article_new input[type=submit] {
	/*width: 260px;
	height: 35px;*/
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #a18d6c;
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}

#body {
	height: 200px;
	width: 400px;
}

.article_new input[type=submit]:hover {
	opacity: 0.8;
}

.article_new input[type=submit]:active {
	opacity: 0.6;
}

.article_new input[type=text]:focus {
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.article_new input[type=submit]:focus {
	outline: none;
}

::-webkit-input-placeholder {
   color: rgba(255,255,255,0.6);
}

::-moz-input-placeholder{
   color: rgba(255,255,255,0.6);
}

/*INDIVIDUAL ARTICLES*/

.individual_article {
	background-color: #D1D1E0; 
	opacity: 0.7;
	width: 60%; 
	height: 100%;
	margin-left: auto;
  margin-right: auto;
  font-family: 'Lato', sans-serif; 
}

/*INDIVIDUAL CATEGORIES*/

.category  {
	background-color: #D1D1E0; 
	opacity: 0.7;
	width: 60%; 
	height: 100%;
	margin-left: auto;
  margin-right: auto;
  text-align: center; 
  font-family: 'Lato', sans-serif; 
}

/*INDIVIDUAL AUTHORS*/
.author {
	background-image: url(images/background.jpg);
	background-position: cover; 
	opacity: 0.7;
	width: 60%; 
	height: 80%;
	margin-left: auto;
  margin-right: auto;
  text-align: center; 
  font-family: 'Lato', sans-serif; 
}

.cat {
	max-width: 50%; 
	max-height: 50%;
}

.author_info {
	background-color: black; 
	opacity: 0.6; 
	color: white;
	text-align: center; 
	padding: 10px;
}

.email {
	color: red;
}

.article_link {
	color: red;
}

/*EDIT ARTICLE*/

.article_edit {
	background-color: #D1D1E0; 
	opacity: 0.8;
	position: absolute;
	top: 100px;
	left: 200px;
	height: 75%;
	width: 60%;
	padding: 10px;
	text-align: center; 
	z-index: 2;
}

.article_edit input[type=text] {
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #ffffff;
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
}

.article_edit input[type=submit] {
	/*width: 260px;
	height: 35px;*/
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #a18d6c;
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}

#body2 {
	height: 200px;
	width: 400px;
}

#headline {
	height: 50px;
	width: 400px;
}

.article_edit input[type=submit]:hover {
	opacity: 0.8;
}

.article_edit input[type=submit]:active {
	opacity: 0.6;
}

.article_edit input[type=text]:focus {
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.article_edit input[type=submit]:focus {
	outline: none;
}

::-webkit-input-placeholder {
   color: rgba(255,255,255,0.6);
}

::-moz-input-placeholder{
   color: rgba(255,255,255,0.6);
}
